<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <title>ユーザーログイン</title>
    </head>
    <body>
        <h2>ユーザーログイン</h2>
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="user_name">Username</label>
                <input type="text" id="user_name" name="user_name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
            <p>
                アカウントをお持ちでない方は
                <a href="/register">新規登録はこちら</a>
            </p>
        </form>
        {% if message %}
            {{ message }}
        {% endif %}
    </body>
</html>